.main__Medidas{
    width: 100%;
    height: 50rem;
    align-items: center;
}

@media  (min-width: 598px) {
    .main__Medidas{  //====PRIMER CARRUSEL===//
        width: 100%;
        height: 60rem;
        align-items: center;
    }
}

@media  (min-width: 764px) {
    .main__Medidas{  //====PRIMER CARRUSEL===//
        width: 100%;
        height: 80rem;
        align-items: center;
    }
}