.colaboraciones{
    width: 100%;
    height: 90rem;
    .box__colaboraciones{
        height: 100%;
        width: 100%;
        .box__fotos__colab{
            width: 100%;
            height: 86rem;
            display: flex;
            flex-direction: column;
            .primer__colab{
                width: 100%;
                height: 50%;
                position: relative;
                cursor: pointer;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .segunda__colab{
                width: 100%;
                height: 50%;
                position: relative;
                cursor: pointer;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
    
}

.hover__colab{
    display: none;
}