.grid__footer{
    display: grid;
    grid-template-rows: repeat(2,15rem);
    grid-column: 1/6;
    .primer__footer{
        grid-row: 1/2;
        background-color: #000000;
        .texto__footer__1{
            width: 100%;
            height: 50%;
            margin-top: 4em;
            p {
                font-size: 2rem;
                margin: .5em;
                text-align: center;
                color: #ffffff;
            }
        }
    }
    .segundo__footer{
        grid-row: 2/3;
        height: 15rem;
        .texto_footer{
            min-width: 100%;
            height: 5em;
            margin-top: 2em;
            p{
                font-size: 2em;
                text-align: center;
                color: #000000;
            }
            .caja__logos{
                width: 100%;
                height: 7rem;
                display: flex;
                justify-content: center;
                a{
                    width: 10%;
                    height: 100%;
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }                                    
                }
            }            
        }
    }
    
}