@import 'colors';
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@700;800;900&display=swap');

//===VIDEO=====//

.container__video{
    width: 100%;
    height: 20rem;
    position:relative;
    top: 0;
    left: 0;
    overflow: hidden;
    
    video{
        height: 100%;
        min-width: 100%;
        object-fit:cover;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    h1{
        background: $black;
        font-size: 7em;
        text-align: center;
        height: 100%;
        text-align: center;
        padding-top: .5em;
        font-weight: 900;
        mix-blend-mode: multiply;
        font-family: outfit;
    }
}

