@import 'colors';

@mixin flex {
    display: flex;
    justify-content: space-between;
}

header{
    width: 100%;
    height: 27rem;
}


.container__navbar{
    width: 100%;
    height: 7rem;
    @include flex;
    align-items: center;
    background-color:$transparente;
    background-color: rgb(250, 250, 250, 0.1);
    position: fixed;
    z-index: 50;
    .navbar__Logo{  //===LOGO===// 
        width: 100%;
        height: 100%;
        margin: 2em 0 0 2em;
        text-align: left;
        a{
            img {
                width: 5rem;
                height: 5rem;
            }
        }
    }

    .navbar__Logohamburg{   //===LOGO HAMBURGESA===//
        width: 100%;
        height: 100%;
        text-align: right;
        margin: 3em 3em 0 0;
        
        cursor: pointer;
        img{
            width: 3rem;
            height: 3rem;
        }
    }
    .navbar__Check{  //===CHECK PARA MENU===//
        display: none;
    }

    .navbar__List__contain{ //===LISTA DE MENU===//
        position: fixed;
        top: 7rem;
        bottom: 0 ;
        list-style: none;
        width: 100%;
        left: 0;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        background-color: rgba(0, 0, 0, .9);
        clip-path:circle(0 at center);
        transition: clip-path 1s ease-in-out;
        color: $white;
        font-size: 1.5em;
        li:hover{
            background-color: $azul;
            font-size: 1.5rem;
            transition: all 400ms ease;
            border-radius: 5px;
            padding: .5em;
            width: 100%;
            text-align: center;
        }
    }

    .navbar__Check:checked + .navbar__List__contain{  //===EFECTO CIRCULO===//
        clip-path: circle(100% at center);
        z-index: 100;
        
    }
    
    
}

