@import 'colors';
@import 'headerMenu';





//=====VIDEO INICIO========// 

@media (min-width: 598px) {
    header{
        width: 100%;
        height: 35rem;
    }
    
    .container__video{   //VIDEO PRINCIPAL//
        width: 100%;
        height: 80%;
        position:relative;
        top: 0;
        left: 0;
        overflow: hidden;
        z-index: -10;
        video{ //======VIDEO EN SI=====//
            min-height: 100%;
            min-width: 100%;
            object-fit:cover;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        h1{  //=====TEXTO DE VIDEO COBERTURA=====//
            background: rgb(0, 0, 0,);
            font-size: 9em;
            padding-top: .1em;
            text-align: center;
            height: 100%;
            text-align: center;
            font-weight: 900;
            mix-blend-mode: multiply;
            font-family: outfit;
        }
    }

    .main__Medidas{
        width: 100%;
        height: 60rem;
        align-items: center;
    }

    .colaboraciones{
        width: 100%;
        height: 120rem;
    }
    
    .slider__new__arrivals{
        width: 100%;
        height: 78rem;
    }

    .boxs{
        display: none;
    }

    #carouselExampleSlidesOnly{
        display: block;
        height: 50rem !important;
        align-items: center;
    }

    .carousel-inner{
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            margin-top: 10em;
        }
    }

}











@media (min-width: 764px) {
    header{  
        width: 100%;
        height: 38rem;
    }
    
    .container__video{    //VIDEO PRINCIPAL//
        width: 100%;
        height: 80%;
        position:relative;
        top: 0;
        left: 0;
        overflow: hidden;
        z-index: -10;
        video{  //======VIDEO EN SI=====//
            min-height: 100%;
            min-width: 100%;
            object-fit:cover;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        h1{  //=====TEXTO DE VIDEO COBERTURA=====//
            background: rgb(0, 0, 0,);
            font-size: 12em;
            padding-top: .1em;
            text-align: center;
            height: 100%;
            text-align: center;
            font-weight: 900;
            mix-blend-mode: multiply;
            font-family: outfit;
        }
    }

    .main__Medidas{  //====PRIMER CARRUSEL===//
        width: 100%;
        height: 80rem;
        align-items: center;
    } 

    .grid__footer{
        display: grid;
        grid-template-rows: repeat(2,20rem);
    }

    .slider__new__arrivals{
        width: 100%;
        height: 80rem;
    }

    .boxs{
        display: none;
    }

    #carouselExampleSlidesOnly{
        display: block;
        height: 50rem !important;
        align-items: center;
    }

    .carousel-inner{
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            margin-top: 10em;
        }
    }

    
}



















//============Media queri menu navbar=================//

@media (min-width: 992px) {
    header{
        width: 100%;
        height: 70rem;
    }

    .container__navbar{  //MENU PRINCIPAL//
        width: 100%;
        height: 8rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color:$transparente;
        .navbar__Logo{  //===LOGO===// 
            width: 100%;
            height: 100%;
            a{
                img {
                    width: 7rem;
                    height: 7rem;
                }
            }
        }

        .navbar__Logohamburg{   //===LOGO HAMBURGESA===//
            display: none;
        }

        .navbar__Check{  //===CHECK PARA MENU===//
        display: none;
        }

        .navbar__List__contain{ //===LISTA DE MENU===//
            position:relative;
            top: 0rem;
            bottom: 0 ;
            list-style: none;
            width: 100%;
            left: 0;
            display: flex;
            justify-content: space-evenly;
            flex-direction: row;
            align-items: center;
            background-color: transparent;
            clip-path: none;
            color: $black;
            font-size: 1.5em;
            li:hover{
                background-color: $azul;
                font-size: 1.7rem;
                transition: all 400ms ease;
                border-radius: 5px;
                padding: .3em;
                width: 30%;
                text-align: center;
            }
        }
    }    

    header{
        width: 100%;
        height: 60rem;
    }
    
    .container__video{  //VIDEO PRINCIPAL//
        width: 100%;
        height: 87%;
        position:relative;
        top: 0;
        left: 0;
        overflow: hidden;
        video{  //======VIDEO EN SI=====//
            height: 100%;
            min-width: 100%;
            object-fit:cover;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        h1{  //=====TEXTO DE VIDEO COBERTURA=====//
            background: rgb(0, 0, 0,);
            font-size: 17em;
            padding-top: .1em;
            text-align: center;
            height: 100%;
            text-align: center;
            font-weight: 900;
            mix-blend-mode: multiply;
            font-family: outfit;
        }
    }
    .titulo{  //===TITULOS===//
            height: 5rem;
            display:block;
            font-size: 3rem;
            letter-spacing: .5rem;
            text-align: center;
            border-bottom: 1px solid #000000;            
        }
    
    .main__Medidas{  //====PRIMER CARRUSEL===//
        width: 100%;
        height: 85rem;
        align-items: center;
    } 
        
    .colaboraciones{
        width: 100%;
        height: 80rem;
        margin-top: 10rem;
        .box__colaboraciones{
            height: 100%;
            width: 100%;
            .box__fotos__colab{
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: row;
                .primer__colab{
                    width: 50%;
                    height: 100%;
                    position: relative;
                    cursor: pointer;
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                .hover__colab{
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    background-color: rgba(0, 0, 0, 0.7);
                    transform: scale(0);
                    transition: transform 700ms;
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    img{
                        width: 100%;
                        height: 80%;
                        object-fit:contain;
                        background-color: rgba(0, 0, 0, 0.7);
                    }
                    p{
                        font-size: 3rem;
                        color: #f5f5f5;
                        width: 100%;
                        height: 20%;
                        background-color: rgba(0, 0, 0, 0.7);
                        text-align: center;
                    }    
                }
                .segunda__colab{
                    width: 50%;
                    height: 100%;
                    position: relative;
                    cursor: pointer;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
                .primer__colab:hover .hover__colab{
                    transform: scale(1);
                }
                
                .segunda__colab:hover .hover__colab{
                    transform: scale(1);
                }
            }
        }    
    }
    .slider__new__arrivals{
        width: 100%;
        height: 85rem;
        top: 0;
        margin-top: 6rem;
    }
    .grid__footer{
        margin-top: 10rem;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        grid-column: 1/6;
        height: 20rem;
        .primer__footer{
            width: 50%;
            height: 100%;
            background-color: #000000;
            .texto__footer__1{
                width: 100%;
                height: 100%;
                margin-top: 4em;
                p {
                    font-size: 2rem;
                    margin: .5em;
                    text-align: center;
                    color: #ffffff;
                }
            }
        }
        .segundo__footer{
            width: 50%;
            height: 100%;
            .texto_footer{
                min-width: 100%;
                height: 5em;
                margin-top: 2em;
                p{
                    font-size: 2em;
                    text-align: center;
                    color: #000000;
                }
                .caja__logos{
                    width: 100%;
                    height: 7rem;
                    display: flex;
                    justify-content: center;
                    a{
                        width: 10%;
                        height: 100%;
                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: contain;
                        }                                    
                    }
                }            
            }
        }
        
    }
    .main__sneakers{
        width: 100%;
        height: 40rem;
        .boxs{
            width: 100%;
            height: 100%;
            align-items: center;
            display: flex;
            .box__marcas{
                width: 100%;
                height: 100%;
                background-color: rgba(255, 255, 255, 0.3);
                backdrop-filter: blur(20px);
                border: solid 1px rgba(255, 255, 255, 0.5);
                margin: 1em;
                img{
                    width: 100%;
                    height: 70%;
                    object-fit: contain;
                }
                h4{
                    width: 100%;
                    height: 30%;
                    font-size: 2.5em;
                    text-align: center;
                }
            }
        }
    }
        .box__marcas:hover{
        background-color: rgba(0, 0, 0, 0.2);
        transform: scale(1.1);
        transition: transform 700ms;
        cursor: pointer;
        box-shadow: 0 .5rem 1rem .5rem rgba(0, 0, 0, 0.8);
        border-radius: 5px;
        border: .5em #000000 solid;
    }
    
    #carouselExampleSlidesOnly{
        display: none;
    }


    .colaboraciones__page{
        display: grid;
        grid-template-rows: repeat(3,max-content);
        gap: 1.5rem;
        margin-top: 5rem;
        .box__colaboracion{
            width: 100%;
            height: 40rem;
            display: flex;
            background-color: rgba(255, 255, 255, 0.3);
            backdrop-filter: blur(20px);
            border: solid 1px rgba(255, 255, 255, 0.5);
            border-radius: 5px;
            .texto__billie{
                display: inline-block;
                width: 70%;
                height: 100%;
                text-align: center;
                h3{
                    width: 100%;
                    height: 15%;
                    font-size: 2em;
                    letter-spacing: 1em;
                    margin-top: 1em;
                    text-align: center;
                    color: #000000;
                    border-bottom: 1px solid #000000;
                }
                p{
                    width: 100%;
                    height: 75;
                    font-size: 1.3em;
                    text-align: center;
                }
            }
            .video__billie{
                margin: 0 auto;
                width: 90%;
                height: 100%;
                video{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
}

















@media (min-width: 1200px) {
    header{
        width: 100%;
        height: 70rem;
    }
    .container__video{  //VIDEO PRINCIPAL//
        width: 100%;
        height: 87%;
        position:relative;
        top: 0;
        left: 0;
        overflow: hidden;
        z-index: -10;
        video{  //======VIDEO EN SI=====//
            min-height: 100%;
            min-width: 100%;
            object-fit:cover;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        } 
        h1{  //=====TEXTO DE VIDEO COBERTURA=====//
            background: rgb(0, 0, 0,);
            font-size: 20em;
            padding-top:  .3em;
            text-align: center;
            height: 100%;
            text-align: center;
            font-weight: 900;
            mix-blend-mode: multiply;
            font-family: outfit;
        }
    }

    .main__sneakers{
        width: 100%;
        height: 40rem;
        .boxs{
            width: 100%;
            height: 100%;
            align-items: center;
            .box__marcas{
                width: 100%;
                height: 100%;
                background-color: rgba(255, 255, 255, 0.3);
                backdrop-filter: blur(20px);
                border: solid 1px rgba(255, 255, 255, 0.5);
                margin: 1em;
                img{
                    width: 100%;
                    height: 70%;
                    object-fit: contain;
                }
                h4{
                    width: 100%;
                    height: 30%;
                    font-size: 2.5em;
                    text-align: center;
                }
            }
        }
    }
    
    
    .box__marcas:hover{
        background-color: rgba(0, 0, 0, 0.2);
        transform: scale(1.1);
        transition: transform 700ms;
        cursor: pointer;
        box-shadow: 0 .5rem 1rem .5rem rgba(0, 0, 0, 0.8);
        border-radius: 5px;
        border: .5em #000000 solid;
    }
    
    #carouselExampleSlidesOnly{
        display: none;
    }
}
