@mixin flex {
    display: flex;
    justify-content: space-between;
}

.box__fotos__colab{
    @include flex;
    width: 100%;
    height: 45rem;
}

.boxs{
    @include flex;
    width: 100%;
    height: 80rem;    
    flex-direction: row;
    align-items: center;
    margin-top: 12rem;
}