.body__nosotros{
    background-image: url(../fotos/jordan\ naranja.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    object-fit: cover;
}

.box__nosotros{
    width: 100%;
    height: 60rem;
    display: grid;
    grid-template-rows: repeat(2,max-content);
    align-items: center;
    .titulo__nosotros{
        grid-row: 1/2;
        width: 100%;
        height: 10rem;
        margin-top: 1rem;
        align-items: center;
        display: flex;
        justify-content:center;
        h3{
            font-size: 2em;
            width: 100%;
            height: 100%;
            letter-spacing: .5em;
            color: #f5f5f5;
            text-align: center;
            border-bottom: 1px solid #f5f5f5;
        }
    }
    .texto__nosotros{
        grid-row: 2/3;
        width: 100%;
        height: 60rem;
        display: flex;
        justify-content: center;
        margin-top: 5rem;
        p{
            font-size: 1.5em;
            letter-spacing: .1em;
            color: #f5f5f5;
            text-align: center;
        }
        
    }
}