.body__contacto{
    background-image: url(../pages/FOTOS/jordanamarilla.jpeg);
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: 100% 100%;
}

.form__main{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    .box__formulario{
        grid-column: 1/6;
        display: flex;
        min-height: 100vh;
        margin-top: 5em;
        .form{
            background-color: rgba(255, 255, 255, 0.3);
            margin: auto;
            width: 90%;
            max-width: 90rem;
            padding: 4.5em 3em;
            border-radius: 1em;
            box-shadow: 0 .5em 1em .5em rgba(0, 0, 0 / 0.3);
            backdrop-filter: blur(1em);
            text-align: center;
            .titulo__form{
                font-size: 3rem;
                letter-spacing: 1rem;
                margin-bottom: 1rem;
            }
            .form__container{
                margin-top: 4em;
                display: grid;
                gap: 3em;
                .form__grupo{
                    position: relative;
                    background-color: #5858581c;
                    .form__input{
                        width: 100%;
                        background:none;
                        font-size: 2rem;
                        padding: .6em .3em;
                        border: none;
                        outline: none;
                        border-bottom: .1rem solid #000000;    
                    }
                    .block{
                        cursor: pointer;
                        position: absolute;
                        top: 0;
                        left: 1rem;
                        transform: translateY(1rem);
                        transition: transform 400ms;
                    }        
                }
                .form__input:focus + .block,
                .form__input:not(:placeholder-shown) + .block{
                    transform: translateY(-1.2rem) scale(1);
                    transform-origin: left top;
                    color: #000000;
                    }
                .form__submit{
                    background: #eef121;
                    font-weight: 300;
                    font-size: 1.5rem;
                    padding: .8em 0;
                    border: none;
                    border-radius: .5em;
                    cursor: pointer;
                }
            }
        }
    }
}

.form__input:focus + .block,
.form__input:not(:placeholder-shown) + .block{
    transform: translateY(-1.2rem) scale(1);
    transform-origin: left top;
    color: #000000;
}
