.body__colaboraciones{
    background-image: url(//pages/FOTOS/abstract-black-background-with-yellow-and-black-geometric-pattern-vector.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

.colaboraciones__page{
    display: grid;
    grid-template-rows: repeat(3,max-content);
    gap: 1.5rem;
    margin-top: 5rem;
    .box__colaboracion{
        width: 100%;
        height: 40rem;
        display: flex;
        background-color: rgba(255, 255, 255, 0.3);
        backdrop-filter: blur(20px);
        border: solid 1px rgba(255, 255, 255, 0.5);
        border-radius: 5px;
        .texto__billie{
            display: none;
        }
        .video__billie{
            margin: 0 auto;
            width: 90%;
            height: 100%;
            video{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}