.body__sneakers{
    background-image: url(../fotos/jordangris.jpg);
    background-repeat: no-repeat;
    object-fit: contain;
    background-size: 100% 100%;
}

.boxs{
    display: none;
}

#carouselExampleSlidesOnly{
    display: block;
    height: 50rem !important;
    align-items: center;
}

.carousel-inner{
    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        margin-top: 10em;
    }
}