*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cinzel', serif; 
    text-decoration: none;
}

html{
    font-size: 10px;
}

/*pagina de index*/

/*=============================================*/

/*navbar*/

/*logo*/
.container-fluid > a > img {
    width: 9rem;
    height: 9rem;
}


/*color navbar text*/

.nav-item > a {
    color: #000000;
    font-size: 1.5rem;
    font-weight: 500;
}

.nav-item > a:hover{
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    transform: scale(1.05);
    transition: all 400ms ease;
}


/*video principal*/

.video__lebron{
    width: 100%;
    height: 50rem;
    object-fit: cover;
}


.carousel-item > img{
    width: 40rem;
    height: 40rem;
    object-fit: contain;
}

.carousel-caption > h5,p{
    color: #000000;
    font-size: 2rem;
}

/*====================================TODOS LOS TITULOS===========================*/

.titulo{
    grid-column: 1/13;
    height: 8rem;
    display:block;
    font-size: 6rem;
    letter-spacing: 3rem;
    text-align: center;
    border-bottom: 1px solid #000000;
}

@media screen and (max-width:768px){
    .titulo{
        grid-column: 1/13;
        height: 4rem;
        display:block;
        font-size: 3rem;
        letter-spacing: 1rem;
        text-align: center;
        border-bottom: 1px solid #000000;
    }
}

/*======COLABORACIONES======*/

.box__colaboraciones{
    grid-column: 1/13;
    height: 80rem;
}

.titulo__colaboraciones{
    grid-column: 1/13;
    height: 8rem;
    display:block;
    font-size: 6rem;
    letter-spacing: 3rem;
    text-align: center;
    border-bottom: 1px solid #000000;
}

@media screen and (max-width:768px){
    .grid{
        height: 80rem;
    }
    

    .titulo__colaboraciones{
        grid-column: 1/13;
        height: 4rem;
        display:block;
        font-size: 3rem;
        letter-spacing: 1rem;
        text-align: center;
        border-bottom: 1px solid #000000;
    }
}
/*caja de las fotos*/

.box__fotos__colab{
    width: 100%;
    height: 45rem;
    display: flex;
    justify-content: space-between;

}


/*primera*/
.primer__colab{
    width: 50%;
    height: 100%;
    position: relative;
    cursor: pointer;
}


.primer__colab > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*segunda*/

.segunda__colab{
    width: 50%;
    height: 100%;
    position: relative;
    cursor: pointer;
}

.segunda__colab > img{
    width: 100%;
    height: 100%;
}

/*hover a las colab*/

.hover__colab{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.7);
    transform: scale(0);
    transition: transform 700ms;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.hover__colab > img{
    width: 100%;
    height: 80%;
    object-fit:contain;
    background-color: rgba(0, 0, 0, 0.7);
}


.hover__colab > p{
    font-size: 3rem;
    color: #f5f5f5;
    width: 100%;
    height: 20%;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
}

.primer__colab:hover .hover__colab{
    transform: scale(1);
}

.segunda__colab:hover .hover__colab{
    transform: scale(1);
}


@media screen and (max-width:768px){
    .box__fotos__colab{
        width: 100%;
        height: 90%;
        display: flex;
        flex-direction: column;
    }
    .primer__colab{
        width: 100%;
        text-align: center ;
    }
    .primer__colab > img{
        width: 80%;
        height: 100%;
        object-fit: cover;
    }
    .segunda__colab{
        width: 100%;
        text-align: center;
    }
    .segunda__colab > img{
        width: 80%;
        height: 100%;
        object-fit:initial;
    }
    .hover__colab{
        position: absolute;
        width: 80%;
        height: 100%;
        top: 0;
        background-color: rgba(0, 0, 0, 0.7);
        transform: scale(0);
        transition: transform 700ms;
        display: flex;
        text-align: center;
        margin-left: 7rem;
    }
}


.slider__new__arrivals{
    width: 100%;
    height: 80rem;
}


/*footer*/

.grid__footer{
    display: grid;
    grid-template-rows: repeat(2,15rem);
    grid-column: 1/6;
}

/*primer footer*/

.primer__footer{
    grid-row: 1/2;
    background-color: #000000;
}

.texto__footer__1{
    width: 100%;
    height: 50%;
    margin-top: 4em;
}

.texto__footer__1 > p {
    font-size: 2rem;
    margin: .5em;
    text-align: center;
    color: #ffffff;
}

/*segundo footer*/

.segundo__footer{
    grid-row: 2/3;
    background-color: #f5f5f5;
    height: 15rem;
}

/*box texto*/

.texto_footer{
    min-width: 100%;
    height: 5em;
    margin-top: 2em;
}

.texto_footer > p{
    font-size: 2em;
    text-align: center;
    color: #000000;
}

/*box logos redes*/

.caja__logos{
    width: 100%;
    height: 7rem;
    display: flex;
    justify-content: center;
}

.caja__logos > a{
    width: 10%;
    height: 100%;

}


.caja__logos > a > img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}


/*===============================PAGINA COLABS================================*/



/*imagen de fondo*/

.body__colaboraciones{
    background-image: url(pages/FOTOS/abstract-black-background-with-yellow-and-black-geometric-pattern-vector.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

.header__pages{
    min-width: 100%;
    height: 8rem;
}

/*caja gral*/

.colaboraciones__page{
    display: grid;
    grid-template-rows: repeat(3,max-content);
    gap: 1.5rem;
    margin-top: 15rem;
}

/*estilo contenedor*/

.box__colaboracion{
    width: 100%;
    height: 40rem;
    display: flex;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(20px);
    border: solid 1px rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    
}

/*textos colaboraciones*/
.texto__billie{
    width: 70%;
    height: 100%;
    text-align: center;
}


.texto__billie > h3{
    width: 100%;
    height: 15%;
    font-size: 2em;
    letter-spacing: 1em;
    margin-top: 1em;
    text-align: center;
    color: #000000;
    border-bottom: 1px solid #000000;
}


.texto__billie > p{
    width: 100%;
    height: 75;
    font-size: 1.5em;
    text-align: center;
}

/*videos colaboraciones*/

.video__billie{
    width: 30%;
    height: 100%;
    border-color: 20px #000000 solid;}

.video__billie > video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: .5em;
}


/*=======================PAGINA NOSOTROS==========================*/
.body__nosotros{
    background-image: url(fotos/jordan\ naranja.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    object-fit: cover;
}

/*fondo imagen*/



/*caja principal*/

.box__nosotros{
    width: 100%;
    height: 80rem;
    display: grid;
    grid-template-rows: repeat(2,max-content);
    align-items: center;
}

.titulo__nosotros{
    grid-row: 1/2;
    width: 100%;
    height: 20rem;
    margin-top: 2rem;
    align-items: center;
    display: flex;
    justify-content:center;
}

.titulo__nosotros > h3{
    font-size: 4em;
    width: 100%;
    height: 100%;
    letter-spacing: .5em;
    color: #f5f5f5;
    text-align: center;
}

.texto__nosotros{
    grid-row: 2/3;
    width: 100%;
    height: 60rem;
    display: flex;
    justify-content: center;
}

.texto__nosotros > p{
    font-size: 3em;
    letter-spacing: .5em;
    color: #f5f5f5;
    text-align: center;
}


/*======================PAGINA CONTACTO=====================*/

/*fondo imagen*/

.body__contacto{
    background-image: url(pages/FOTOS/jordanamarilla.jpeg);
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: 100% 100%;
}

/*contenedora*/

.form__main{
    display: grid;
    grid-template-columns: repeat(5,1fr);
}

.box__formulario{
    grid-column: 1/6;
    display: flex;
    min-height: 100vh;
    margin-top: 5em;
}

.form{
    background-color: rgba(255, 255, 255, 0.3);
    margin: auto;
    width: 90%;
    max-width: 90rem;
    padding: 4.5em 3em;
    border-radius: 1em;
    box-shadow: 0 .5em 1em .5em rgba(0, 0, 0 / 30%);
    backdrop-filter: blur(1em);
    text-align: center;
}

.titulo__form{
    font-size: 3rem;
    letter-spacing: 1rem;
    margin-bottom: 1rem;
}

.form__container{
    margin-top: 4em;
    display: grid;
    gap: 3em;
}

.form__grupo{
    position: relative;
    background-color: #5858581c;
}

.form__input{
    width: 100%;
    background:none;
    font-size: 2rem;
    padding: .6em .3em;
    border: none;
    outline: none;
    border-bottom: .1rem solid #000000;    
}

.block{
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 1rem;
    transform: translateY(1rem);
    transition: transform 400ms;
}

.form__input:focus + .block,
.form__input:not(:placeholder-shown) + .block{
    transform: translateY(-1.2rem) scale(1);
    transform-origin: left top;
    color: #000000;
}

.form__submit{
    background: #eef121;
    font-weight: 300;
    font-size: 1.5rem;
    padding: .8em 0;
    border: none;
    border-radius: .5em;
    cursor: pointer;
}


/*=======================PAGINA SNEAKERS=====================*/

.body__sneakers{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    background-image: url(fotos/jordangris.jpg);
    background-repeat: no-repeat;
    object-fit: contain;
    background-size: 100% 100%;
}

.main__sneakers{
    height: 60rem;
}

/*CAJAS INDIVIDUALES*/



.boxs{
    width: 100%;
    height: 80rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

/*BOX GLASS*/
.box__marcas{
    width: 100%;
    height: 80%;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(20px);
    border: solid 1px rgba(255, 255, 255, 0.5);
    margin: 1em;
}

.box__marcas:hover{
    background-color: rgba(0, 0, 0, 0.2);
    transform: scale(1.1);
    transition: transform 700ms;
    cursor: pointer;
    box-shadow: 0 .5rem 1rem .5rem rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    border: .5em #000000 solid;
}


.box__marcas > img{
    width: 100%;
    height: 70%;
    object-fit: contain;
}


.box__marcas > h4{
    width: 100%;
    height: 30%;
    font-size: .5em;
    text-align: center;
}

#carouselExampleSlidesOnly{
    display: none;
}
/*========CARRUSEL RESPONSIVE=============*/


@media screen and (max-width:768px){
    .main__sneakers{
        width: 100%;
        height: 60rem;
    }
    .boxs{
        display: none;
    }

    #carouselExampleSlidesOnly{
        display: block;
        height: 50rem !important;
        align-items: center;
    }

    .carousel-inner{
        margin-top: 40rem !important;
    }


    .carousel-item > img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        margin-top: 20em;
    }


}




/*===================PAGINA LOGIN================*/

.body__login{
    background-image: url(fotos/nikejean.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    object-fit: cover;
}

.ingreso__nuevo{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    height: 80rem;
    
}

.ingresar{
    grid-column: 1/2;
    width: 60%;
    height: 50%;
    align-items: center;
    text-align: center;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(20px);
    border-radius: 5px;
    border: 1px solid #000000;
}

.titulo__login{
    width: 100%;
    font-size: 3em;
    letter-spacing: .5em;
    color: #f5f5f5;
} 

.formulario__ingreso{
    width: 100%;
    
}



.nuevo{
    grid-column: 2/3;
    width: 90%;
}

/*menu media queri pagina principal*/

@media screen and (max-width:767px) {
    /*footer*/
    .grid__footer{
        display: grid;
        grid-template-rows: repeat(2,5rem);
    }
    /*primer footer*/

    .texto__footer__1{
    width: 100%;
    height: 50%;
    margin-top: .5em;
    }

    .texto__footer__1 > p {
    font-size: 1rem;
    margin: .5em;
}

/*segundo footer*/

.segundo__footer{
    height: 5rem;
}

/*box texto*/

.texto_footer{
    min-width: 100%;
    height: 2em;
    margin-top: 0em;
}

.texto_footer > p{
    font-size: 1em;
    text-align: center;
 titulo__colaboraciones   color: #000000;
}
/*box logos redes*/

.caja__logos{
    width: 100%;
    height: 2rem;
    display: flex;
    justify-content: center;
}

/*PAGINA DE SNEAKERS*/

.body__sneakers{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    background-image: url(fotos/jordangris.jpg);
    background-repeat: no-repeat;
    object-fit: contain;
    background-size: 100% 100%;
}
.main__sneakers{
    grid-column: 1/6;
    height: max-content;
    gap: 1fr;
    min-width: 100%;
}
.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    height: 40%;
    margin: auto;
}
/*BOX GLASS*/

.box__marcas{
    width: 20rem;
    height: 20rem;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(20px);
    border: solid 1px rgba(255, 255, 255, 0.5);
    margin: 1em;
}

.box__marcas:hover{
    background-color: rgba(0, 0, 0, 0.2);
    transform: scale(1.1);
    transition: transform 700ms;
    cursor: pointer;
    box-shadow: 0 .5rem 1rem .5rem rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    border: .5em #000000 solid;
}


.box__marcas > img{
    width: 100%;
    height: 80%;
    object-fit: contain;
}


.box__marcas > h4{
    width: 100%;
    height: 20%;
    font-size: 2rem;
    text-align: center;
}

/*PAGINA DE COLABORACIONES*/

/*imagen de fondo*/

.body__colaboraciones{
    background-image: url(pages/FOTOS/abstract-black-background-with-yellow-and-black-geometric-pattern-vector.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

/*caja gral*/

.colaboraciones__page{
    display: grid;
    grid-template-rows: repeat(3,max-content);
    gap: 1.5rem;
    margin-top: 15rem;
}

/*estilo contenedor*/

.box__colaboracion{
    width: 100%;
    height: 40rem;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(20px);
    border: solid 1px rgba(255, 255, 255, 0.5);
    border-radius: 5px;
}

/*textos colaboraciones*/
.texto__billie{
    width: 100%;
    height: 50%;
    text-align: center;
    overflow:scroll;
}


.texto__billie > h3{
    width: 100%;
    height: 30%;
    font-size: 1.6em;   
    text-align: center;
    color: #000000;
    padding: .1em;
    border-bottom: 1px solid #000000;
}


.texto__billie > p{
    width: 100%;
    height: 70%;
    font-size: 1.5em;
    text-align: center;
    margin-top: 1em;
    overflow:scroll;
}

/*videos colaboraciones*/

.video__billie{
    width: 100%;
    height: 50%;
    border-color: 20px #000000 solid;}

.video__billie > video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: .5em;
}

/*PAGINA NOSOTROS*/
.body__nosotros{
    max-width: 100%;
    min-height: 100vh;
    background-image: url(fotos/jordan\ naranja.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    object-fit: cover;
}

/*fondo imagen*/



/*caja principal*/

.box__nosotros{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-rows: repeat(2,max-content);
    align-items: center;
    gap: 3rem;
    margin-top: 20rem;
}

.titulo__nosotros{
    grid-row: 1/2;
    width: 100%;
    height: 100%;
    margin-top: 2rem;
    align-items: center;
    display: flex;
    justify-content:center;
}

.titulo__nosotros > h3{
    font-size: 2em;
    width: 100%;
    height: 100%;
    letter-spacing: .5em;
    color: #f5f5f5;
    text-align: center;
}

.texto__nosotros{
    grid-row: 2/3;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.texto__nosotros > p{
    font-size: 1.5em;
    letter-spacing: .5em;
    color: #f5f5f5;
    text-align: center;
}

/*pagina contacto*/
.titulo__form{
    font-size: 2rem;
    letter-spacing: .5rem;
    margin-bottom: 1rem;
}


}
